.input-error {
    position: absolute;
    top: calc(17px + 7px + 1px + 5px);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    
}