.edit-button {
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background-color: #000000;
    padding: 0;
    display: flex;
    align-self: center;
    
       

}

@media screen and (max-width: 380px) {
    .edit-button {
        width: 18px;
        height: 18px;
        align-self: flex-end;
        position: relative; 
        bottom: 6px;
    }
}