.form__item {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  padding: 0;
  border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
  padding-bottom: 7px;
}
