.add-button {
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    display: flex;
    margin-left: auto;
    box-sizing: border-box;
    background: #000000;
    
  
    
}

@media screen and (max-width: 910px) {
    .add-button {
        width: 282px;
        margin: auto;
    }
}
   