.page__container {
    max-width: 880px;
    min-height: 100vh;
    padding: 45px 0 60px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
        
    }
    
    @media screen and (max-width: 910px) {
        .page__container {
            max-width: 720px;    
            
        }
    } 

    @media screen and (max-width: 910px) {
        .page__container {
            max-width: 581px;    
            
        }
    } 
    
    @media screen and (max-width: 620px) {
        .page__container {
            max-width: 382px;    
            padding: 28px 0 36px;
        }
    }

    @media screen and (max-width: 400px) {
        .page__container {
            max-width: 320px;    
            padding: 28px 0 36px;
        }
    }
