.footer__copyright {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    padding-top: 48px;
}

@media screen and (max-width: 320px) {
    .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    padding-top: 50px;
    }
}