.close-icon {
  background-image: url(../../images/svg/Close_icon.svg);
  background-size: cover;
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: calc(100% + 8px);
  left: calc(100% + 8px);
  border: none;
  padding: 0;
  background-color: transparent;
}

@media screen and (max-width: 540px) {
  .close-icon {
    width: 20px;
    height: 20px;
    left: calc(100% - 20px);
  }
}
