.form__container {
    max-width: 358px;
    display: flex;
    margin: 34px auto 34px;
    flex-direction: column;
   

}

@media screen and (max-width: 540px) {
    .form__container {
    max-width: 238px;
    margin: 24px auto 22px;
  
    }
}