.button-avatar {
    position: relative;
    width: 120px;
    height: 120px;
    border: 0;
    background-color: transparent;
    margin-right: 30px;
    padding: 0;
    
}

@media screen and (max-width: 910px) {
    .button-avatar {
    margin-right: 0;
    }
}

.button-avatar:hover {
   
    background-image: url(../../images/svg/avatar-pan.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
}