.button {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 2px;
    height: 50px;
    margin-bottom: auto;
    border: 0;
    padding: 0;

}

.button:hover {
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
}


@media screen and (max-width: 320px) {
    .button {
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}
